section.page-title {
    
    &[data-private=true] { background: #ffc80020; }
    &[data-deleted=true] { background: #ff000030; }
}

div.page-actions {
    a.action-resolve {
        background: #ffd22f !important;
        color: #081119;
        font-weight: 700;
    }
}

div.page-info {
    font-size: 0.9rem;
}

section#project-desc {
    padding-top: 0;
}

section#project-info-actions {
    table {
        width: 100%;
        font-family: monospace;
    }
    th {
        width: 33%;
        text-align: left;
    }
}

section#project-info-tags {
    font-family: monospace;
    padding: 0 0.5rem;
    background: #ffffff10;
}
