
section.project-list {
    
    table { width: 100%; }
    thead th:first-child { text-align: left }
    tbody {
        tr {
            &.private { background: #ffc80020; }
            &.deleted { background: #ff000030; }
        }
        td {
            text-align: left;
            &:last-child { text-align: center; }
        }
    }

}
