section.page-title {
    
    &[data-private=true] { background: #ffc80020; }
    &[data-deleted=true] { background: #ff000030; }
}

div.page-actions {
    a.action-resolve {
        background: #ffd22f !important;
        color: #081119;
        font-weight: 700;
    }
}

div.page-info {
    font-size: 0.9rem;
}

section#project-desc {
    padding-top: 0;
}

section#project-info-actions {
    table {
        width: 100%;
        font-family: monospace;
    }
    th {
        width: 33%;
        text-align: left;
    }
}

section#project-info-tags {
    font-family: monospace;
    padding: 0 0.5rem;
    background: #ffffff10;
}

/* Alternative Mode */
body[page="projects.resolve"][viewmode="wide"] {
    page-container {
        display: grid;
        grid-template-columns: 1fr 12rem;
    }

    section#image-container { grid-area: 1 / 1 / 10 / 2; }
    section#image-data { grid-area: 10 / 1 / 10 / 3; }
    section#title { grid-area: 11 / 1 / 11 / 3; }
    section#description { grid-area: 1 / 2; }
    section#actions-hint { grid-area: 2 / 2; }
    section#actions { grid-area: 3 / 2; }
    section#proceed { grid-area: 15 / 1 / 16 / 3; }
    section#guidelines { grid-area: 19 / 1 / 20 / 3; }
    section#tags { grid-area: 20 / 1 / 21 / 4; }
}

